<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{station}} reports</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <style>
        body{
            font-family: 'Ubuntu', cursive;
            background-color: #373737;
            color: white;
        }
    </style>
</head>
<body>
    <div class="mt-5 container">
        <div class="text-center">
            <h1>{{station}} reports</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 reports mt-5">
            {% for report in reports %}
            {% if not report['resolved'] %}
            <div class="col">
                <div class="card text-bg-dark mb-3">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Report ID:</b> {{report['_id']}}<br>
                            <b>Car no.</b> {{report['car_no']}}<br>
                            <b>Latitude:</b> {{report['lat']}}<br>
                            <b>Longitude:</b> {{report['lon']}}<br>
                            <b>Speed:</b> {{report['speed']}}<br>
                        </p>
                        <a href="/resolve?id={{report['_id']}}" class="btn btn-success">Mark As Resolve</a>                    
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{report['time']}}</small>
                    </div>                
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>